<html>
<link rel="stylesheet" src="index.component.scss">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href= "https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
<link rel="preconnect" href= "https://fonts.googleapis.com">
<link rel="preconnect" href= "https://fonts.gstatic.com" crossorigin>
<link href= "https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel= "stylesheet">

<body>
  <header>
    <a routerLink="" class="logo"><span>Lobos Capital</span></a>

    <div class="activa"><a routerLinkl="conocenos" >Conocenos</a></div>
    <div class="barra"><a routerLink="/servicios">Servicios</a></div>
    <div class="main">
      <a routerLink="/login" class="user"><i class="ri-user-fill"></i>Sing In</a>
    </div>
  </header>
    <a href="https://api.whatsapp.com/send?phone=573177797467&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Lobos%20Capital." class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
  </a>
  <div class="broker">
    <img src="./assets/BTC.gif" class="BTC">
    <a>12.5%</a>
  </div>
  <div class="container">
  <img src="/assets/BGconocenos.jpg">
  </div>
<section class="course">
  <h1>Conocenos</h1>
  <p>Buscamos ser una de las empresas pioneras en inversiones digitales a través de estrategias de ahorro a corto, mediano y largo plazo. Somos una empresa en crecimiento que pretende alcanzar una expansión mínima de 1mm de inversionistas, creando nuevos productos que no solo generen mayor rentabilidad, sino que también permitan la diversificación en las inversiones. Todo esto apuntando a la ERA DIGITAL.<br>Este fondo fue creado hace más de 3 años en Colombia, esta vigilado por la superintendencia financiera de Colombia, contando como documentación soporte, letra de cambio autenticada y contrato por 6 meses</p>
  <div class="row">
    <div class="course-col">
      <h2>¿Sabes que es un activo?</h2>
      <p>Es un bien que te pertenece, lo que te pone dinero en tus bolsillos</p>
    </div>
    <div class="course-col">
      <h2>¿Sabes que es un activo DIGITAL?</h2>
      <p>Es un bien que tienes en la nube, lo que pone dinero en tus cuentas</p>
    </div>
  </div>
</section>
</body>
</html>