<html>
<link rel="stylesheet" src="index.component.scss">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
<link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap" rel="stylesheet">

<body>
    <header>
        <a routerLink="" class="logo"><span>Lobos Capital</span></a>

        <div class="barra"><a routerLink="/conocenos">Conocenos</a></div>
        <div class="activa">
        <a routerLinkl="servicios">Servicios</a></div>
        <div class="main">
            <a routerLink="/login" class="user"><i class="ri-user-fill"></i>Sing In</a>
        </div>
    </header>
  <a href="https://api.whatsapp.com/send?phone=573177797467&text=Hola%21%20Quisiera%20m%C3%A1s%20informaci%C3%B3n%20sobre%20Lobos%20Capital." class="float" target="_blank">
    <i class="fa fa-whatsapp my-float"></i>
  </a>
  <div class="broker">
    <img src="./assets/BTC.gif" class="BTC">
    <a>12.5%</a>
  </div>
  <section class="course">
    <h1>Tipos de inversion</h1>
    <div class="row">
        <div class="course-col">
            <h2>Variable</h2>
            <p>rendimientos entre el 5% y el 25% mensual</p>
        </div>
        <div class="course-col">
            <h2>Fija</h2>
            <p>rendimientos fijos del 12.5% mensual</p>
        </div>
        <p>En la inversión variable el monto de ingreso es de $ 2.000.000 en adelante y en la inversión fija el monto mínimo
            de inversión es de $4.000.000. En cualquiera de las dos modalidades de inversión el retiro de la ganancia se
            puede hacer de manera mensual o se puede dejar a manera de interés compuesto y el capital se puede retirar
            únicamente al término del contrato.</p>
    </div>
    </section>
</body>
</html>